<div class="header container-fluid sticky-top justify-content-between">
    <div class="title">
        <div class="logo"><div class="play_logo"></div></div>
        <div class="name">video course</div>
    </div>
    <div class="userActions d-flex justify-content-around" *ngIf="user">
        <div class="profileIcon">
            	<i class="fa fa-user"></i>
                {{user}}
        </div>
        <div class="logOutAction" (click)="logout()">
            <i class="fa fa-sign-out"></i>
            Log out
        </div>
    </div>
</div> 
{{demo()}}