.header{
    background:#303240;
    color: #FFFFFF;
    display:flex;
    padding:20px 40px;
    /* position: relative; */
    /* top:0; */
}
.header .title{ 
    display: flex;
    padding:0px 20px;
    gap:10px;
}
.header .title .logo{
    box-sizing: border-box;
    border-color: #979797;
    border-width: 2px;
    border-style: solid;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}
.header .title .logo .play_logo{
    background-image: linear-gradient(141deg, #0079AD 11%, #B4D084 100%);
	transform: rotate(-270deg);
	border-radius: 1px;
	background-color: #D8D8D8;
    height:100%;
    width:100%;
}



.header .title .name{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.userActions{
    width:300px;
}

.userActions>*{
    cursor: pointer;
}